.card-Container{
    display: flex;
    flex-direction: column;
    padding: 25px 25px;
    justify-content: center;
    align-items: center;
}

.card {
    border-radius: 20px 20px 16px 16px;
    width: 130vh;
    border: 1px solid black;
    margin: 25px 30px;
}

.background {
    width: 100%;
    height: 50px;
    background-color: #ffd700;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
}

.card_superior{
    display: flex;
}

.lado1 {
    display: flex;
    width: 130vh;
    flex-direction: column;
}

.content {
    padding: 0px 24px 24px 24px;
}

.avatar {
    padding: 5px 0 0 25px;
    width: 192px;
    height: 192px;
    /* z-index: 1; */
}

.avatar > img {
    height: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 0.863) 3px 5px 15px;
    transition: .6s;
}

.avatar > img:hover {
    transform: scale(1.08);
    transition: .6s;
    cursor: pointer;
}

.perfil {
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    margin-top: 16px;
    margin-bottom: 8px;
}

.especialidade {
    font-weight: bold;
    margin-bottom: 5px;
}

.cidade {
    margin-top: 6px;
}

.regular{
    display: flex;
    gap: 13px;
}

.price {
    font-size: x-large;
    font-weight: bold;
}

.card_inferior {
    text-align: justify;
    padding: 10px 25px;
}

.sobreBTN {
    border: 2px solid #ffd700;
    font-size: 12px;
    background: transparent;
    padding: 10px;
    border-radius: 20px;
    left: 5px;
    position: relative;
    transition: .4s;
    text-transform: uppercase;
    font-weight: 500;
}

.sobreBTN:hover {
    background-color: #ffd700;
    cursor: pointer;
    transition: .3s;
    font-weight: bolder;
}