.agendamento {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    align-items: center;
    justify-content: center;
    /* margin-left: 65px; */
    gap: 25px;
    width: auto;
}

.voltar{
    font-size: 20px;
    color: #ffd700;
    left: 22px;
    top: 1rem;
    position: relative;
}

.user {
    display: flex;
    gap: 15px;
    /* margin-right: 20px; */
    /* top: 150px; */
    width: 500px;
}

.user > img.avatar{
    border-radius: 15%;
    height: 188px;
    width: 268px;
}

.user > .info > h2, p.crp{
    margin-bottom: 16px;
}

.user > .info > p > span.crp {
    color: #ffd700;
}

.price {
    font-size: x-large;
    font-weight: bold;
}

.saberMais{
    margin-top: 22px;
    padding: 15px;
    width: 45rem;
    margin-left: 25px;
    align-items: center;
}

.descPessoal .resumo {
    text-align: justify;
}

/* Parte referen aos detalhes do psicologo */
.maisInfos {
    border-top: 2px dashed #ffd700;
    margin-top: 12px;
    padding: 10px 0 12px;
}

.softskills {
    margin-left: 19px;
    display: relative;
}

.experiencias{
    list-style: disc;
    margin-top: 2px;
}

