.container {
    display: flex;
    justify-content: space-around;
}

.psicologos,
.pacientes {
    margin-top: 2%;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 45%;
    height: 530px;
    overflow-y: scroll;
}

.psicologos::-webkit-scrollbar,
.pacientes::-webkit-scrollbar{
    width: 4px;
}

.psicologos::-webkit-scrollbar-track,
.pacientes::-webkit-scrollbar-track {
    background: #6e6767;
    border-radius: 2px;
}

.psicologos::-webkit-scrollbar-thumb,
.pacientes::-webkit-scrollbar-thumb {
    background: #ffd700;
    border-radius: 2px;
}

.psicologos::-webkit-scrollbar-thumb:hover,
.pacientes::-webkit-scrollbar-thumb:hover {
    background: white;
}

h2 {
    color: #333;
    text-align: center;
}

#psicologos-list,
#pacientes-list {
    margin-top: 10px;
}

#total-psicologos,
#total-pacientes{
    margin-top: 15px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 33%;
}