.cadastra_psicologo {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
}

.cadastra_psicologo h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.cadastra_psicologo label {
    display: block;
    width: 100%;
    margin-bottom: 5px;
}

.cadastra_psicologo input,
.cadastra_psicologo textarea,
.cadastra_psicologo button {
    display: block;
    width: 100%;
    margin-bottom: 15px;
}

.cadastra_psicologo input,
.cadastra_psicologo textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.cadastra_psicologo input:hover {
    border-color: #f1e208;
}

.cadastra_psicologo button {
    background-color: #dfd51a;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.cadastra_psicologo button:hover {
    border: 1px solid #f1e208;
    background-color: white;
    color: #dfd51a;
    transition: 1s;
}

.abordagem {
    padding: 5px;
}

.abordagem > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px;
}

.abordagem input[type=checkbox] {
    margin-right: 5px;
    margin-top: 10px;
    width: 20px;
}

#imagem-preview{
    max-width: 300px; 
    max-height: 300px;
    border-radius: 5px;
}