.agendamento {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    align-items: center;
    justify-content: center;
    /* margin-left: 65px; */
    gap: 25px;
}

.user {
    display: flex;
    gap: 15px;
    margin-right: 25px;
}

.user > img.avatar{
    border-radius: 15%;
}

.user > .info > h2, p{
    margin-bottom: 16px;
}

.user > .info > p > span.crp {
    color: #d1ce34;
}

.price {
    font-size: x-large;
    font-weight: bold;
}

/* Codigo do calendario */
.calendar {
    display: flex;
    margin-top: 24px;
    padding: 20px;
    align-items: center;
    justify-content: center;
}

.calendar > .week {
    display: flex;
    gap: 5px;
    height: 120px;
    padding: 20px 40px;
    background: #857d7d6b;
    border-radius: 10px;
    border: 1px #000 solid;
}

.week li {
    list-style: none;
    height: 70px;
    width: 60px;
    display: flex;
    color: #000;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    font-size: 1.25em;
}

.week li.current {
    position: relative;
    background-color: #e9e50a;
    height: 90px;
    width: 90px;
    font-size: 1.65em;
    color: #000;
    border: 6px solid #fff;
    transform: translateY(-70px);
    font-weight: 500;
    cursor: pointer;
}
.week li.current::before {
    content: '';
    position: absolute;
    top: 44px;
    left: -36px;
    width: 30px;
    height: 30px;
    background: #cacaca6b;
    border-top-right-radius: 10px;
    box-shadow: 6px -6px #fff;
}

.week li.current::after {
    content: '';
    position: absolute;
    top: 44px;
    right: -35px;
    width: 30px;
    height: 30px;
    background: #cacaca6b;
    border-top-left-radius: 10px;
    box-shadow: -6px -6px #fff;
}

.week li.current h1 {
    position: absolute;
    transform: translateY(76px);
    font-size: 1.6em;
    color:#000;
}

.week li.current h3 {
    position: absolute;
    transform: translateY(-52px);
    font-size: 0.85em;
    color:#000;
}

.week li.current h5 {
    position: absolute;
    transform: translateY(102px);
    font-size: 0.55em;
    color: #000;
    font-weight: 500;
}

/* .calendar > .header > h2{
    text-align: center;
    margin-bottom: 20px;
}

.dates {
    border: 2.5px solid #e9e50a;
    border-radius: 15px;
}

.mouth{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #333;
    border-radius: 14px 14px 0 0;
    font-weight: 700;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 5px 0px
}

.mouth > i {
    padding: 16px;
    border-radius: 50%;
    color: #666;
}

.mouth > i:hover{
    background-color: #ece0fd;
}

ul > #currentMonth{
    font-size: 18;
}

main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}

main > div {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 82px;
    height: 40px;
   
    color: #666;
    cursor: pointer;
    transition: all 300ms;
}

main > div:hover{
    background-color: #ece0fd;
    border-radius: 8px;
}

main > div.active{
    background: #e9e50a;
    color: #fff;
    border-radius: 8px;
    font-weight: 700;

    position: relative;
}

main > div.active::after{
    content: '';
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    bottom: 6px;
} */