.price {
    font-size: x-large;
    font-weight: bold;
}

/* Codigo do calendario */
.calendar {
    display: flex;
    /* margin-top: 24px; */
    padding: 10px 10px;
    /* align-items: center; */
    justify-content: center;
    height: 250px;
    /* width: 250px; */
}

.wrapper {
    /* height: 380px; */
    width: 480px;
    /* background: #ffd700; */
    border-radius: 10px;
}

.wrapper .cabecalho-calendar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.ph-bold {
    height: 38px;
    width: 38px;
    font-weight: bold;
    cursor: pointer;
    font-size: 24px;
    margin: 0 10px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ph-bold:hover{
    color: #ffd700;
    background: #787977;
}

table {
    border-collapse: collapse;
    width: 90%;
}

th{
    background-color: #f2f2f2;
    font-weight: bold;
    text-align: center;
    padding: 8px;
}

td{
    text-align: center;
    padding: 8px;
    border: 1px solid #eee;
}

.dia{
    background-color: #ffd700;
    text-transform: uppercase;
}

#horas{
    overflow: auto;
    max-height: 200px;
    border-collapse: collapse;
}

/* .cabecalho-calendar .icons {
    display: flex;
}

.cabecalho-calendar .icons span {
    height: 38px;
    width: 38px;
    text-align: center;
    margin: 0 1px;
    line-height: 38px;
    cursor: pointer;
    border-radius: 50%;
    font-size: 1.9rem;
}

.cabecalho-calendar .icons span:hover{
    background: #787977;
}

.cabecalho-calendar .icons span:last-child {
    margin-right: -10px;
}

.current-date{
    font-size: 1.3rem;
}

.mes .current-date {
    font-size: 1.45rem;
    font-weight: 500;
}

.mes {
    padding: 20px;
}

.mes ul{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    text-align: center;
}

.mes .days {
    margin-bottom: 20px;
}

.mes .weeks li {
    font-weight: 500;
    cursor: default;
}

.mes ul li {
    position: relative;
    width: calc(100% / 7);
    font-size: 1.07rem;
}

.mes .days li {
    z-index: 1;
    cursor: pointer;
    position: relative;
    margin-top: 30px;
}

.days li.inativo {
    color: #e4e3de;
}

.days li.ativo {
    color: #fff;
}

.days li::before {
    position: absolute;
    content: '';
    height: 40px;
    width: 40px;
    top: 50%;
    left: 50%;
    z-index: -1;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background: rgba(196, 199, 15, 0.867);
}

.days li:hover::before {
    background: #f8ff20;
}

.days li.ativo::before {
    background: #fdec02;
} */