* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: #f2f2f2;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.logo img, .logo {
    width: 100px;
}

header .menu{
    display: flex;
    align-items: center;
    width: 100%;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    margin: 0 10px;
    position: relative;
}

nav ul li a {
    color: black;
    font-size: 17px;
    text-transform: uppercase;
    transition: color 0.3s;
}

nav ul li a.active,
nav ul li a:hover {
    color: #dfd51a;
    text-decoration: dashed;
}

nav ul li a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #dfd51a;
    bottom: -5px;
    left: 0;
    transform: scaleX(0);
    transform-origin: left center;
    transition: transform 0.3s ease-in-out;
}

nav ul li a:hover::before {
    transform: scaleX(1);
}

.icons_rede_sociais > a {
    background-color: #dfd51a;
}

.img-fundo{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 600px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.img-fundo .consulta{
    height: 100vh;
    /* width: 100vw; */
}

.img-fundo::after{
    content: "";
    background-color: #dfd51a;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.904) 0%, rgba(37, 37, 37, 0.493) 50%, rgba(0, 0, 0, 0.89) 100%);
}

.banner {
    text-align: center;
    background-color: transparent;
    padding: 50px;
    z-index: 1;
    margin-top: 200px; 
    padding-bottom: 160px;
}

.banner h1 {
    margin-bottom: 10px;
    font-size: 36px;
    color: #fff;
}

.banner h2 {
    font-size: 24px;
    color: #161515;
    font-size: 45px;
}

.banner ul {
    margin-top: 20px;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 25px;
}

.banner ul li {
    margin: 10px 0;
    border-radius: 6px;
    border: 3px solid #f8f8f5;
    padding: 12px;
}

.banner ul li a {
    color: #dfd51a;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s; 
}

.banner ul li:hover {
  border-color: #fff42c;
}

/* SOBRE */ 
.titulo_sobre{
    padding: 20px;
    padding-bottom: 0px;
    text-align: center;
    /* background-color: #f8f7a9; */
}

.titulo_sobre > h2 {
    /* background-color: #f8f7a9; */
}

.sobre{
    /* ---Config margens--- */
    padding: 10%;
    padding-top: 0px;
    padding-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    /* ---Informoções texto--- */
    text-align: justify;
    /* font-size:  1,5rem; */
    line-height: 1.4rem;
    /* background-color: #f8f7a9; */
}

/* FOOTER [rodapé] */
footer {
    display: flex;
    margin-top: 100px;
    text-align: justify;
    border-top: 2px solid #dfd51a;
    padding: 20px;
    background-color: #f2f2f2;
    color: #333;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

footer > .f2{
    /* margin: 100px; */
    padding: 15px;
    margin-right: 22px;
    width: 1000px;
}

footer > .f3{
  padding: 10px;
  display: flex;
  /* background-color: blue; */
}

footer > .f3 > .menuf{
/* background-color: aqua; */
font-size: 0.7rem;
text-align: center;

}
